In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import numpy as np

In [10]:
df = pd.read_csv('../data_csv/oscar_merged.csv')
average_age_gender = df.groupby('gender')['age'].mean().round(0)

average_age_gender

gender
F    36.0
M    44.0
Name: age, dtype: float64

In [34]:
df_most_win = df.groupby('name').size()

In [ ]:
most_common_names = df_most_win[df_most_win >= 2]
most_common_names

In [32]:
decade_bins = range(1920, 2020, 10)
average_age_decade = df.groupby([pd.cut(df['year'], bins=decade_bins),'gender'])['age'].mean().round(0).reset_index(name='average_age')
average_age_decade

/tmp/ipykernel_42041/1771606963.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_age_decade = df.groupby([pd.cut(df['year'], bins=decade_bins),'gender'])['age'].mean().round(0).reset_index(name='average_age')

            year gender  average_age
0   (1920, 1930]      F         38.0
1   (1920, 1930]      M         50.0
2   (1930, 1940]      F         28.0
3   (1930, 1940]      M         38.0
4   (1940, 1950]      F         33.0
5   (1940, 1950]      M         44.0
6   (1950, 1960]      F         36.0
7   (1950, 1960]      M         42.0
8   (1960, 1970]      F         37.0
9   (1960, 1970]      M         45.0
10  (1970, 1980]      F         35.0
11  (1970, 1980]      M         44.0
12  (1980, 1990]      F         46.0
13  (1980, 1990]      M         48.0
14  (1990, 2000]      F         35.0
15  (1990, 2000]      M         44.0
16  (2000, 2010]      F         36.0
17  (2000, 2010]      M         45.0

In [31]:
genre_colors = ['cyan' if gender == 'M' else 'pink' for gender in df['gender']]
plt.hist(average_age_decade(['age','genre']), bins=10, color=genre_colors)
plt.xlabel('Decade')
plt.ylabel('Average Age')
plt.title('Average Age of Oscar Winners by Decade and Gender with Linear Regression')
plt.legend()
plt.grid(True)
plt.show()

TypeError: 'Series' object is not callable

In [ ]:
average.plot(kind='hist', bins=10, color='skyblue', edgecolor='black')

# Ajouter

# Afficher le graphique
plt.show()
male_regression = LinearRegression()
male_regression.fit(np.array(male_df['age'].index).reshape(-1, 1), male_df['age'])

female_regression = LinearRegression()
female_regression.fit(np.array(female_df['age'].index).reshape(-1, 1), female_df['age'])

# Plotting
plt.figure(figsize=(10, 6))

# Plotting average age for male and female Oscar winners by decade
plt.scatter(male_df['age'].index, male_df['age'].values, marker='o', color='' label='Male Age')
plt.scatter(female_df['age'].index, female_df['age'].values, marker='o', label='Female Average Age')

# Plotting linear regression lines for male and female
plt.plot(male_df['age'].index, male_regression.predict(np.array(male_df['age'].index).reshape(-1, 1)), linestyle='-', color='orange', label='Male Regression')
plt.plot(female_df['age'].index, female_regression.predict(np.array(female_df['age'].index).reshape(-1, 1)), linestyle='-', color='blue', label='Female Regression')

plt.xlabel('Decade')
plt.ylabel('Average Age')
plt.title('Average Age of Oscar Winners by Decade and Gender with Linear Regression')
plt.legend()
plt.grid(True)
plt.show()